<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       
        <title> voc board </title>

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/headerStyle.css">
        <link rel="stylesheet" href="/stylesheets/searchBarStyle.css">
        <link rel="stylesheet" href="/stylesheets/topicBarStyle.css">
        
    </head>
    <body>
        <div class="container-fluid header">
            <div class="row">
                <div class="col-sm-4">
                    <a href ="#"><img src="images/logo.png"  class="logo"></a>
                </div>
                <div class="col-sm-4 header-middle justify-content-center">
                    <a href = "#" class="middleBtn"> VOC 원문보기 </a>
                    <a href = "#" class="middleBtn"> VOC Report </a>
                </div>
                <div class="col-sm-4 header-right justify-content-end">
                    <a href = "#" class="idBtn"> 김준혁님 </a>
                    <a href = "#" class="logoutBtn"> 로그아웃 </a>    
                </div>             
            </div>
        </div>
        <div class="container-fluid searchBar">
            <div class="row">
                <div class="col-sm-3">
                    <button class="prdCompBtn">SR</button>
                    <button class="prdCompBtn">상품평</button>
                    <button class="prdCompBtn">상품문의</button>
                </div>

                <div class="col-sm-4">
                </div>
                
                <div class="col-sm-5">
                </div>
                    
            </div>

        </div>


        <script src="js/bootstrap.min.js"></script>
    </body>

</html>