<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title> VOC Dashboard </title>

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/headerStyle.css">
        <link rel="stylesheet" href="/stylesheets/searchBarStyle.css">
        <link rel="stylesheet" href="/stylesheets/topicBarStyle.css">
        <link rel="stylesheet" href="/stylesheets/datepicker.css">
        <link rel="stylesheet" href="/stylesheets/resultBarStyle.css">
        <link rel="stylesheet" href="/stylesheets/radioBox.css">
        <link rel="stylesheet" href="/stylesheets/sortingBarStyle.css">
        <link rel="stylesheet" href="/stylesheets/modalStyle.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    </head>
    <body>
        <div class="container-fluid header">
            <div class="row">
                <div class="col-sm-4">
                    <a href ="#"><img src="images/logo.png"  class="logo"></a>
                </div>
                <div class="col-sm-4 header-middle justify-content-center">
                    <span class="selectedMiddleBtn"> VOC 원문보기 </span>
                    <a href = "/report" class="middleBtn"> VOC Report </a>
                </div>
                <div class="col-sm-4 header-right justify-content-end">
                    <a href = "#" class="idBtn"> 김준혁님 </a>
                    <a href = "#" class="logoutBtn"> 로그아웃 </a>    
                </div>             
            </div>
        </div>

        <div class="container-fluid searchBar">
            <div class="row">
                <div class="col-sm-3">
                    <button class="prdCompBtn">SR</button>
                    <button class="prdCompBtn">상품평</button>
                    <button class="prdCompBtn">상품문의</button>
                </div>

                <div class="col-sm-9 d-flex justify-content-end" style="display:inherit">
                    <div class="dropdown">
                        <button id="dateConditionDropdown" class="btn dropdown-toggle prdDropdownBtn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">접수일</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" onclick="dropDownChange(0,0)">접수일</a>
                            <a class="dropdown-item" href="#" onclick="dropDownChange(0,1)">주문일</a>
                        </div>
                    </div>
                    <div id="dateArea" style="margin-right:20px">
                        <input class="form-control prdDateRangepicker" id="dates" type="text" name="dates" autocomplete="on">
                        </input>
                    </div>

                    <div class="dropdown">
                        <button id="conditionDropdown" class="btn dropdown-toggle prdDropdownBtn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SR소분류</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" onclick="dropDownChange(1,0)">SR대분류</a>
                            <a class="dropdown-item" href="#" onclick="dropDownChange(1,1)">SR중분류</a>
                            <a class="dropdown-item" href="#" onclick="dropDownChange(1,2)">SR소분류</a>
                        </div>
                    </div>
                    <div style="margin-right:20px">
                        <input id="prdCondition" class="prdInput" type="text"  placeholder="조건을 검색해주세요">
                        </input>
                    </div>

                    <div class="dropdown">
                        <button id="codeDropdown" class="btn dropdown-toggle prdDropdownBtn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">상품코드</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" onclick="dropDownChange(2,0)">상품코드</a>
                            <a class="dropdown-item" href="#" onclick="dropDownChange(2,1)">접수코드</a>
                            <a class="dropdown-item" href="#" onclick="dropDownChange(2,2)">주문코드</a>
                            <a class="dropdown-item" href="#" onclick="dropDownChange(2,3)">상품명</a>
                        </div>
                    </div>
                    <div style="margin-right:20px">
                        <input id ="code" class="prdInput" type="text">
                        </input>
                    </div>
                    
                    <button onclick="searchData()" class="searchBtn">조회</button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row topicBar">                     <!--      이부분 반드시 유념할것 -->
                <div class="col-md-6 colDefault topicBarCol  d-flex align-items-center">
                    <div class="topicFont" style="margin-right:10px"> 주요 토픽 </div>
                    <button class="topicFont topicBarCommonBtn">배송관련(0)</button>
                    <button class="topicFont topicBarCommonBtn">상품관련(0)</button>
                    <button class="topicFont topicBarCommonBtn">교환/반품/AS관련(0)</button>
                    <button class="topicFont topicBarCommonBtn">방송이용관련(0)</button>
                    <button class="topicFont topicBarCommonBtn">상품품질관련(0)</button>
                    <button class="topicFont topicBarCommonBtn">고객제안(0)</button>
                    <button class="topicFont topicBarCommonBtn">미등록(0)</button>
            
                </div>
                <div class="col-md-6 colDefault topicBarCol d-flex align-items-center justify-content-end" style="display:inherit">  
                    <div class="topicCheckBox">
                        <input type="checkbox" id="customCheck1">
                        <label class="topicCheckBoxFont" for="customCheck1"> 상품문의/품질 SR </label>
                    </div>
                    <div class="topicCheckBox">
                        <input type="checkbox" id="customCheck2">
                        <label class="topicCheckBoxFont" for="customCheck2"> 배송 SR </label>
                    </div>
                    <div class="topicCheckBox">
                        <input type="checkbox" id="customCheck3">
                        <label class="topicCheckBoxFont" for="customCheck3"> 그 외 SR </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row resultBar">
                <div class="col-md-6 colDefault resultFont d-flex align-items-center">
                    상품 <span id="resultData" class="resultMarkFont">‘(Sample Data) 35589096 [CAXA UP] 이영애 카사업 하트페이스 리프팅기’</span> 에 대한 검색 결과  <span id="resultCount" class="resultMarkFont"> 352 건  </span>
                </div>
                <div class="col-md-6 colDefault resultOptionFont justify-content-end d-flex align-items-center" style="display:inherit">
                    <span> 결과 내 검색 </span>
                    <div style="margin-left:15px">
                        <input id="radio1" name="radio" type="radio" class="radio" checked="checked"> <label for="radio1">키워드</label>
                    </div>
                    <div style="margin-left:15px; margin-right:10px">
                        <input id="radio2" name="radio" type="radio" class="radio"> <label for="radio2">속성</label>
                    </div>
                    <input class="keywordInput keywordFont" type="text" placeholder="키워드를 입력해주세요"></input>
                    
                    <button class="detailSearchBtn detailSearchFont">검색</button> 
                    <button class="excelBtn excelFont"><img src="images/excelLogo.png" class="excelLogo "></img> 액셀 다운</button> 
                
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr class="sortingFont"> 
                    <th scope="col" class="padCol"></th>
                    <th scope="col" class="noFont noTd">No.</th>
                    <th scope="col" class="receiptTd">접수일시 <input type="image" src="images/sortingIcon.png" class="sortingBtn"/></th>
                    <th scope="col" class="orderTd">주문일시 <input type="image" src="images/sortingIcon.png" class="sortingBtn"/></th>
                    <th scope="col" class="prdTd">상품명 <input type="image" src="images/sortingIcon.png" class="sortingBtn"/></th>
                    <th scope="col" class="attTd">속성 <input type="image" src="images/sortingIcon.png" class="sortingBtn"/></th>
                    <th scope="col" class="mainTopicTd">주요토픽 <input type="image" src="images/sortingIcon.png" class="sortingBtn"/></th>
                    <th scope="col" class="keywordTd">키워드 표현어</th>
                    <th scope="col" class="srNumTd">SR 수<input type="image" src="images/sortingIcon.png" class="sortingBtn"/></th>
                    <th scope="col" class="srInputTd">SR 접수 내용</th>
                    <th scope="col" class="srDivideTd">SR소분류</th>
                    <th scope="col" class="padCol"></th>
                </tr>
            </thead>
            <tbody id="tableBody">
                <tr class="tdBasicStyle" data-toggle="modal" data-target="#exampleModalCenter">
                    <th scope="row"></th>
                    <td class="noSubTd">1</td>
                    <td>2019.06.07<br>
                            09:47</td>
                    <td>2019.06.08<br>
                            15:00</td>
                    <td>[CAXA UP] 이영애 카사업 하트페이스 리프팅기</td>
                    <td>스위트 핑크</td>
                    <td class="tdTopicFont">교환/반품/AS관련</td>
                    <td class="tdKeywordFont">#배송지_문의  #배송_빠르다</td>
                    <td class="noSubTd">5</td>
                    <td>@고객 : 앱주문시 배송지를 고객님이 따로 입력 안해도 확인이 되는지 문의하심.<br>
                        @GS : 당사 기본 등록주소지로 주문시 배송지로 확인됨 안내드림./2019-06-14 배송 예정 안내</td>
                    <td>(입고택배) 배송문의/요청</td>
                    <td></td>
                </tr>
            </tbody>
        </table>        

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header d-flex align-items-center modalHeader">
                            SR활동이력
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="images/modalClose.png"/>
                        </button>
                    </div>
                    <div class="modal-body modalBody scrollbar scrollbar-primary">
                        <div class="row tableUpperBar">
                           <div class="col-md-6 resultFont resultModalFont">
                                활동 이력 건수: <span class="resultMarkFont resultModalFont"> 7건 </span> 
                           </div>
                           <div class="col-md-6 justify-content-end resultRightModalFont" display="inherit">
                                주문번호: <span class="modalMargin" id="orderNum"> 63339341 </span>
                                SR번호: <span id="srNum"> S225419509 </span>
                           </div>
                        </div>
                       <!-- table -->
                        <table class="table">
                            <thead>
                                <tr class="noFont"> 
                                    <th scope="col" class="modalDefaultCell modalNo">No.</th>
                                    <th scope="col" class="modalDefaultCell modalInputDate">접수일시</th>
                                    <th scope="col" class="modalDefaultCell modalActive">활동유형</th>
                                    <th scope="col" class="modalDefaultCell modalContents">내용</th>
                                </tr>
                            </thead> 

                            <!-- modalTable body를 통해 추가를 하기 위함임 -->
                            <tbody id="modalTableBody"> 
                                <tr class="tdBasicStyle">
                                    <td class="noSubTd">1</td>
                                    <td>2019.06.07 
                                    09:47</td>
                                    <td class="modalCellDetailFont">협력사 문의</td>
                                    <td class="modalCellDetailFont">
                                        @접수시간 : 2019/06/07 09:47:41
                                        @주문상태 : &lt출하지시&gt @문의유형 : &lt반품교환 문의&gt
                                        @내용 : 교환신청했는데 핸드폰번호가달라요핑크색불이 안들어와요하트윗부분이 핑크불이 들어왔다 안들어왔다 거의안들어와요 해당 내용으로 교환 요청입니다. 전산 교환 접수 해도 될까요? 
                                    </td>
                                </tr>
                                <tr class="tdBasicStyle">
                                    <td class="noSubTd">1</td>
                                    <td>2019.06.07
                                    09:47</td>
                                    <td class="modalCellDetailFont">협력사 문의</td>
                                    <td class="modalCellDetailFont">
                                        @접수시간 : 2019/06/07 09:47:41
                                        @주문상태 : &lt출하지시&gt @문의유형 : &lt반품교환 문의&gt
                                        @내용 : 교환신청했는데 핸드폰번호가달라요핑크색불이 안들어와요하트윗부분이 핑크불이 들어왔다 안들어왔다 거의안들어와요 해당 내용으로 교환 요청입니다. 전산 교환 접수 해도 될까요? 
                                    </td>
                                </tr>
                                <tr class="tdBasicStyle">
                                    <td class="noSubTd">1</td>
                                    <td>2019.06.07
                                    09:47</td>
                                    <td class="modalCellDetailFont">협력사 문의</td>
                                    <td class="modalCellDetailFont">
                                        @접수시간 : 2019/06/07 09:47:41
                                        @주문상태 : &lt출하지시&gt @문의유형 : &lt반품교환 문의&gt
                                        @내용 : 교환신청했는데 핸드폰번호가달라요핑크색불이 안들어와요하트윗부분이 핑크불이 들어왔다 안들어왔다 거의안들어와요 해당 내용으로 교환 요청입니다. 전산 교환 접수 해도 될까요? 
                                    </td>
                                </tr>
                            </tbody>
                        </table>        
                    </div>
                </div>
            </div>
        </div>
              
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/bootstrap.bundle.js"></script>
        <script src="/js/bootstrap.min.js"></script>


        <script src="/javascripts/search.js"></script>
        <script src="/javascripts/makeDetailModal.js"></script>
        <script src="/javascripts/sorting.js"></script>
        <script src="/javascripts/dropdown.js"></script>

        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
      
    </body>

</html>