.header{
    background-color: #ffffff;
    width: 100%;
    min-height:80px;
    padding: 30px 40px;
    border-bottom: 1px solid #dfe2e8
}

.logo{
    width: 100px;
    height: 20px;
    object-fit: contain;
}

.header-left{
}
.header-middle{
    display:inherit;
}
.header-right{
    display:inherit;
}

.middleBtn {
    font-family: 'AppleSDGothicNeo';
    font-size: 16px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #17191d;
    margin: 0px 23px
}

.midSelectedBtn{
  font-family: 'AppleSDGothicNeo';
  font-size: 16px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #f23e6b;
  margin: 0px 23px
}

.idBtn{
    font-family: 'AppleSDGothicNeo';
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #9b9ca0;
    margin-right:8px;
}

.logoutBtn{
    font-family: 'AppleSDGothicNeo';
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #f23e6b;
}
