body {
  background-color: #fafafa;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}

label{
  margin-bottom: 0;
}


.dropdown-item:focus, .dropdown-item:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #ffcbd8;
  
}

.form-control:focus{
  outline: 0;
  box-shadow: 0 0 0 0.2rem #f6bfbf;
  border: 1px solid #f6bfbf;
}
a:active, a:hover{
  color:#f6bfbf;
  text-decoration: none;
}

.btn:focus{
  outline: 0;
  box-shadow: 0 0 0 0.2rem #f6bfbf;
}

button:focus, input:focus{
  
outline-color: #f6bfbf;
}

.table td, .table th {
  padding: 15px 10px;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.colDefault{
  padding: 0px 0px;
}

