.topicBar{
    min-height: 64px;
    background-color: #ffffff;
    border-bottom: 1px solid #dfe2e8;
    padding: 0px 40px;
}

.topicBarCol{
    min-height: 64px; 
}
.topicFont{
    font-family: 'AppleSDGothicNeo';
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #4a4e57;
}

.topicBarCommonBtn{
    min-height: 34px;
    border-radius: 5px;
    border: solid 1px #c8cacf;
    background-color: #ffffff;
    margin-left: 5px;
}

.topicCheckBox{
    margin-left:30px;
}

.custom-control-input:checked~.custom-control-label::before {
    border-radius: 2px;
    border: solid 1px #c8cacf;
    color: white;
    background-color: white;
}
.was-validated .custom-control-input:valid~.custom-control-label::before {
    border-color: white;
    box-shadow: white;

}
.has-success.checkbox-inline label {
    color: white;
  }

.topicCheckBoxFont{
    font-family: 'AppleSDGothicNeo';
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.51;
    letter-spacing: normal;
    color: #4a4e57;
}